* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0px 135px 42px;
}

.link-header {
    color: #17233D;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 36px;
    cursor: pointer;
}

.button-header {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border:1px solid #4cb538;
    background: #6fbf44;
    cursor: pointer;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.logo-image {
    width: 534px;
    height: 467px;
    margin-left: 182px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 85px;
}

h1 {
    color: #161a49;
    font-family: sans-serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 1px;
    width: 582px;
}

p {
    width: 493px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    margin-top: 47px;
    margin-bottom: 55px;

}

.button-main {
    
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #6fbf44;
    margin-bottom: 50px;
    cursor: pointer;

}

